/* Coolors Exported Palette - coolors.co/ff3154-f7f8ee-bee9e8-387780-393e41 */
$sizzling-red: #ff3154;
$sizzling-red-light: #ff5154;
$seashell: #f7f8ee;
$powder-blue: #bee9e8;
$ming: #387780;
$black-olive: #393e41;

/* Coolors Exported Palette - coolors.co/96cae7-0e6700-000807-9395d3-fbf9ff */
$light-cornflower-blue: rgba(150, 202, 231, 1);
$pakistan-green: rgba(14, 103, 0, 1);
$rich-black: rgba(0, 8, 7, 1);
$ceil: rgba(147, 149, 211, 1);
$ghost-white: rgba(251, 249, 255, 1);

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Inconsolata|Montserrat|Roboto&display=swap");

$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Inconsolata", sans-serif;
$primary: $light-cornflower-blue;
// $primary: $powder-blue;
$link: $sizzling-red;
// $link-hover: $sizzling-red-light;
$scheme-main: $ghost-white;
$dark: $rich-black;
$card-color: $scheme-main;
$card-background-color: $link;
$hero-background-color: $primary;

$button-background-color: $link;
$button-hover-color: $scheme-main;
$button-color: $scheme-main;
$button-border-width: 0;

$footer-background-color: $primary;
$footer-padding: 1rem;

$switch-background-active: $link;

// $navbar-breakpoint: 600px;
// $navbar-height: 3.25rem;
@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../node_modules/bulma-slider/dist/css/bulma-slider.sass";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import "../node_modules/bulma-steps/dist/css/bulma-steps.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";

.login-column {
  padding-left: 5rem;
  padding-right: 5rem;
}
.title {
  text-transform: uppercase;
}
.login-column .title {
  text-align: center;
}

.home-logo {
  padding: 0 2em 0 0;
}
html,
body {
  height: 100%;
  background-color: $primary;
}
section {
  height: 100%;
}
.search-results {
  height: 740px;
  overflow-y: auto;
  padding: 3px;
}

.avatar img {
  object-fit: cover;
  width: 128px;
  height: 128px;
}
.avatar-small img {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.avatar-tiny img {
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.contact-image img {
  object-fit: cover;
}
.encounter-section {
  padding: 1.5rem;
}

.steps-section {
  padding: 3rem 1.5rem 1rem 1.5rem;
}

.encounter-section h2 {
  text-align: center;
  display: none;
}

.steps.is-medium .step-item .step-details .step-title {
  font-size: 1.2rem;
}

.severity-output {
  padding: 0 1em;
}

.home-section {
  background-image: url("./images/hi-res-wallpaper-3.jpg");
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  min-height: 60vh;
}

// .hero.is-bold {
//   background-color: transparent;
// }

section.section {
  background-color: $scheme-main;
}

// .hero-body.box {
//   padding: 1em 1.25rem;
// }

.selected-patient {
  padding: 0 0 1rem 0;
}
.icd-search-results {
  position: absolute;
  z-index: 10;
  max-height: 300px;
  overflow-x: scroll;
  overflow-y: auto;
  margin-left: 1em;
}

.icd-text {
  max-width: 400px;
  white-space: normal;
  height: auto;
}

.home-card-middle {
  min-height: 120px;
}
.card {
  border-radius: 30px;
}
.card .title {
  color: $scheme-main;
}
a.button:hover,
button:hover {
  background-color: $link-dark;
}
