/* Coolors Exported Palette - coolors.co/ff3154-f7f8ee-bee9e8-387780-393e41 */
$sizzling-red: #ff3154;
$seashell: #f7f8ee;
$powder-blue: #bee9e8;
$ming: #387780;
$black-olive: #393e41;

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Inconsolata|Montserrat|Roboto&display=swap");

// @import "../node_modules/bulmaswatch/sandstone/variables";
$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Inconsolata", sans-serif;
$primary: $powder-blue;
$link: $sizzling-red;
$scheme-main: $seashell;
$dark: $ming;

$navbar-breakpoint: 0;
// $navbar-height: 3.25rem;

@import "../node_modules/bulma/bulma.sass";

// @import "../node_modules/bulmaswatch/sandstone/overrides";

@import "../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../node_modules/bulma-slider/dist/css/bulma-slider.sass";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import "../node_modules/bulma-steps/dist/css/bulma-steps.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";

.login-column {
  padding-left: 5rem;
  padding-right: 5rem;
}
.title {
  text-transform: uppercase;
}
.login-column .title {
  text-align: center;
}

.home-logo {
  padding: 0 2em 0 0;
}
html,
body {
  height: 100%;
}
section {
  height: 100%;
}
.search-results {
  height: 740px;
  overflow-y: auto;
  padding: 3px;
}

.avatar img {
  object-fit: cover;
  width: 128px;
  height: 128px;
}
.avatar-small img {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.avatar-tiny img {
  object-fit: cover;
  width: 32px;
  height: 32px;
}

.encounter-section {
  padding: 0 1.5rem 1.5rem;
}

.steps-section {
  padding: 3rem 1.5rem 1rem 1.5rem;
}

.encounter-section h2 {
  text-align: center;
  display: none;
}

.steps.is-medium .step-item .step-details .step-title {
  font-size: 1.2rem;
}

.severity-output {
  padding: 0 1em;
}

// body {
//   background-image: url("./images/alex-knight-j4uuKnN43_M-unsplash.jpg");
//   background-color: transparent;
//   background-attachment: fixed;
//   background-size: cover;
//   background-position: bottom;
// }
.hero.is-bold {
  background-color: transparent;
}

section.section {
  background-color: $scheme-main;
}

.hero-body.box {
  padding: 1em 1.25rem;
}

.selected-patient {
  padding: 0 0 1rem 0;
}
.icd-search-results {
  position: absolute;
  z-index: 10;
  max-height: 300px;
  // max-width: 400px;
  overflow-x: scroll;
  overflow-y: auto;
  margin-left: 1em;
}

.icd-text {
  max-width: 400px;
  white-space: normal;
  height: auto;
}
