/* Coolors Exported Palette - coolors.co/ff3154-f7f8ee-bee9e8-387780-393e41 */
$sizzling-red: #ff3154;
$seashell: #f7f8ee;
$powder-blue: #bee9e8;
$ming: #387780;
$black-olive: #393e41;

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Inconsolata|Montserrat|Roboto&display=swap");

$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Inconsolata", sans-serif;
$primary: $powder-blue;
$link: $sizzling-red;
$scheme-main: $seashell;
$dark: $ming;

$navbar-breakpoint: 0;
// $navbar-height: 3.25rem;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../node_modules//bulma-slider/dist/css/bulma-slider.sass";

.login-column {
  padding-left: 5rem;
  padding-right: 5rem;
}

.login-column .title {
  text-align: center;
}

.home-logo {
  padding: 0 2em 0 0;
}
